[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
connexion = {extras = ["swagger-ui"], version = "*"}
flask-sqlalchemy = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
marshmallow = "*"
pywin32 = "*"
flask-httpauth = "*"
werkzeug = "*"

[dev-packages]

[requires]
python_version = "3.9"
